/* * {
    border: 1px solid black;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 38, 38);
}

h1 {
    font-weight: 200;
}

h1, h2, h3, div {
    font-family: monospace;
    color: aliceblue;
}

#middle-cont {
    display: flex;
    flex-direction: column;
}

#game {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    background-color: gray;
    padding: 10px
}

/*
#playerPortrait {
     padding: 0px; 
}
*/

.choices {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.choices img:hover {
    border: 2px solid orange;
}

#compPortrait {
    border-radius: 10px;
}

img {
    width: 60px;
    border-radius: 30px;
}